body {
  margin:0px;
  background-image:none;
  height: 100%;
  width: 100%;
  text-align:left;
}
#container {
  height: 100%;
  width: 50%;
  left: 25%;
  right: 25%;
  position: absolute;
}
#page_title{
  margin-top: 10%;

}
#panel{

}
#page_title_img {
  border-width:0px;
  position:absolute;
  z-index: 0;
  left:0px;
  top:0px;
  width:166px;
  height:61px;
}
#page_title {
  border-width:0px;
  width:165px;
  height:60px;
  font-size:28px;
  color:rgba(0, 102, 255, 0.858823529411765);
}
#page_title_text {
  border-width:0px;
  position:absolute;
  z-index: 1;
  left:0px;
  top:14px;
  width:165px;
  word-wrap:break-word;
  text-align: left;
}
#search_panel{
  border-radius: 1px;
  border-width: 1px;
  border: 1px solid black;
  height: 100px;
  width: 100%;
}
#panel_form{
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 4%;
}
#search_text{
  float: left;
  width: 20%;
  height: 100%;
}
#search_input{
  width: 100%;
  height: 100%;
}
#select_pos{
  margin-left: 4%;
  float: left;
  width: 20%;
  height: 100%;
}
#pos_input{
  width:100%;
  height: 100%;
}
#select_edu{
  margin-left: 4%;
  float: left;
  height: 100%;
  width: 15%;
}
#education{
  width: 100%;
  height: 100%;
}
#search{
  margin-left: 4%;
  float: left;
  width: 8%;
  height: 100%;
}
#search_button{
  width: 100%;
  height: 100%;
  text-align: center;
}
#clear{
  margin-left: 5%;
  float: left;
  width: 8%;
  height: 100%;
}
#clear_button{
  width: 100%;
  height: 100%;
}
#showResult{
  margin-top: 50px;
}
#resultTable{
  border-collapse:collapse;
  width:100%;
  margin-top: 90px;
  margin-right:auto;
  margin-left: auto;
  text-align: center;
}
#resultTable th {
  padding:5px 15px 5px 6px;
  background-color:#cccccc;
  border:1px solid #3F3F3F;
  text-align:center;
}
#resultTable tr:nth-child(odd) {
  background-color:#F5F5F5;
}
#resultTable tr:nth-child(even) {
  background-color:#fff;
}
